<h1>TwinsProxy#view</h1>

<div>
  <p>
    <a href="<%= url_for(only_path: false) + '.html.erb' %>">Мы находимся по
      адресу: <%= url_for(only_path: false) + '.html.erb' %></a>
  </p>


  <%= @output.html_safe %>
  <br/>
  <%= link_to "Рассчитать заново", :twins_proxy_input %>
</div>
