<h1>Chisla#input</h1>
<p>Find me in app/views/chisla/input.html.erb</p>
<div>
  <form action="/chisla/view" method="get" data-remote="true" id="chisla_form" accept-charset="UTF-8">
    <div>
      <label for="str">Введите не менее 10 чисел
        <input type="text" id="str" name="str" required/>
      </label>
    </div>
    <br>
    <div>
      <input type="submit" value="Найти наиболее длинную монотонно возврастающую последовательность"/>
    </div>
  </form>
</div>
