<div class="row">
  <h1><%= t(:looking_for_you) %></h1>

  <div class="col-md-12">
    <div class="pt-1">
      <h5><%= t(:looking_for_you_description) %></h5>
      <lottie-player src='<%= image_url('index_anim.json') %>' background="transparent" speed="0.8" loop autoplay></lottie-player>
    </div>
  </div>
</div>
