<div id="<%= dom_id chisla_result %>">
  <p>
    <strong>String:</strong>
    <%= chisla_result.string %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= chisla_result.result %>
  </p>

  <p>
    <strong>My table:</strong>
    <%= chisla_result.my_table %>
  </p>

</div>
